@font-face {
 font-family: "PragmaticaBookReg.otf";
 src: url('../fonts/PragmaticaBookReg.otf');
}

.body {
  background-color: #FAFAFA;
}

.box {
  display: flex;
  margin: 5px;
  font-family: "PragmaticaBookReg.otf";
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: blue;
}

.item {
  width: 100%;
  padding: 10px 10px 10px 10px;
  color: blue;
}

.item img {
  width: 31vw;
  /* box-shadow: 0 0 10px rgba(205, 204, 255, 1.0); */
}

.item a{
  color: blue;
  text-decoration: none;

}
.item a:hover {
  color: black;
}

.item p{
  color: blue;
  text-decoration: none;
}

.smalltext {
  font-family: "PragmaticaBookReg.otf";
  font-size: 12px;
  line-height: 15px;
  color: blue;
}

/* These are for Archive Page */
.archivebox {
  display: flex;
  margin: 5px;
  font-family:"PragmaticaBookReg.otf";
  font-size: 18px;
  line-height: 20px;
  color: blue;
}

.archiveitem {
  width: 100%;
  padding: 10px 10px 10px 10px;
  color: blue;
}

.archiveitem img {
  width: 33vw;
}

.archiveitem a{
  color: blue;
  text-decoration: none;
}
.archiveitem a:hover {
  color: black;
}

.archiveitem p{
  color: blue;
  text-decoration: none;
}

/* These are for Archive Personal Ticket pages and for Book page */
.ticketbookpagebox {
  display: inline;
  margin: 0px;
  font-family:"PragmaticaBookReg.otf";
  font-size: 18px;
  line-height: 20px;
  color: blue;
}

.ticketbookpageitem {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.ticketbookpageitem img {
  width: 100%;
  box-shadow: 0 0 50px rgba(205, 204, 255, 1.0);
}

.ticketbookpageitem a{
  color: blue;
  font-family: 'PragmaticaBookReg.otf';
  text-decoration: none;
}

.ticketbookpageitem a:hover {
  color: black;
}

.ticketbookpageitem p{
  color: blue;
  font-family: 'PragmaticaBookReg.otf';
  text-decoration: none;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 680px){

  .box {
    display: inline;
    margin-top: 0px;
  }
  .item {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .box a{
    font-size: 255%;
    line-height: 110%;
  }

  .box p{
    font-size: 255%;
    line-height: 110%;
  }

  .item img {
    width: 93vw;
    align-items: center;
    padding-bottom: 50px;

  }

  .archivebox{
    display: inline;
  }

  .archiveitem {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }

  .archiveitem img {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: center;
  }

  .archivebox a{
    font-size: 255%;
    line-height: 110%;
  }

  .archivebox p{
    font-size: 255%;
    line-height: 110%;
  }

  .ticketbookpagebox{
    display: inline;
  }

  .ticketbookpageitem {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    }

  .ticketbookpageitem a {
    font-size: 255%;
    font-family: 'PragmaticaBookReg.otf';
    line-height: 110%;
  }
}
