@font-face {

  font-family: 'NeueHaasUnicaPro-Medium.otf';
  src: url('../fonts/NeueHaasUnicaPro-Medium.otf');
}

.body {
  height: 100%;
  width: 100%;
  background-color: Snow;
}

.header {
  margin-top: 40px;
  line-height: 43px;
  font-size: 45px;
  font-family: 'NeueHaasUnicaPro-Medium.otf';
  text-align:center;
  color: SteelBlue;
}

.header a{
  text-decoration: none;
  cursor: url("images/1.png"), auto;
  color: SteelBlue;
}

.header a:hover {
  text-decoration: none;
  color: black;
  font-style: oblique;
}


@media (max-width:1000px) {

.header {
  font-size: 80px;
  line-height: 85px;
  margin-top: 80px;
  }
